
<div class="jumbotron" style="background-color: white">
  <h1>Welcome to Pearing</h1>
  <p>Improve your agile skills and become a better coder!</p>
  <br />
  
  <button class="button2"> <a style="color:black; text-decoration: none"
      <%= link_to "Sign in with Github", "/auth/github" %> 
      <img src="https://image.flaticon.com/icons/png/128/37/37318.png" align="top" width="30" hspace="10">
    </a>
    </button>
</div>
<br />
<br />
<hr>
<br />
<br />
<h2>Pearing's Features</h2>

<ul class= "lead" style="color:grey; line-height: 2">
  <li>Anonymous feedback for pair programming</li>
  <li>Create a random pairing schedule for all users of the project</li>
  <li>Weekday email reminders to submit your feedback for the day's pairing session</li>
  <li>Weekly email with a link to view the past week's reviews</li>
  <li>Built using Rails 5.1.0, React...???, Bootstrap ...?</li>
</ul>
<br />
<br />
<hr>

<div class="jumbotron" style="background-color: white">
  <h2>Why should I use Pearing? </h2>
  <p style="color:grey">
  95% of the surveyed programmers stated that they were more confident in their solutions when they pair programmed.
  <br />
  <br />
  Pairs spend about 15% more time on programs than individuals.
  However, the resulting code has about 15% fewer defects.
  <br />

  <a style="font-size:12px" href="http://ieeexplore.ieee.org/document/854064/?reload=true"> Source</a>
  </p>
</div>
<hr>
<br />
<br />

<h2>The Pearing Team</h2>


<div class="row">
  <div class="col-sm-4">
      <img class="profile" src="https://lh4.googleusercontent.com/-7XB7fHb2Lg4/AAAAAAAAAAI/AAAAAAAAAAA/_mQYXdeAUeg/s128-c-k/photo.jpg" alt="...">
      <div>
        <h3>Michael Cessaro</h3>
        <br />
        <p><a href="https://github.com/MCess" target="_blank" class="button4" role="button">View Mike's Github</a></p>
    </div>
  </div>
  <div class="col-sm-4">
      <img class="profile" src="https://lh4.googleusercontent.com/-7XB7fHb2Lg4/AAAAAAAAAAI/AAAAAAAAAAA/_mQYXdeAUeg/s128-c-k/photo.jpg" alt="...">
      <div>
        <h3>John Cibula</h3>
        <br />
        <p><a href="https://github.com/johncibula" target="_blank" class="button4" role="button">View John's Github</a></p>
    </div>
  </div>
  <div class="col-sm-4">
      <img class="profile" src="https://avatars0.githubusercontent.com/u/11652811?v=3&s=460" alt="...">
      <div>
        <h3>Raul Vasquez</h3>
        <br />
        <p><a href="https://github.com/rvasqz86" target="_blank" class="button4" role="button">View Raul's Github</a></p>
    </div>
  </div>
</div>
<br />
<br />
<br />
<hr>
<br />
<div>
  <h2>What is pair programming?</h2>
  <p style="color:grey">
  Pair programming is when two developers are coding together. Meaning one is typing and one is observing. Most commonly the one who is typing is called the driver. Their main focus is to write and think about the current task. The current task is usually a smaller piece of a bigger task. The person beside is called the Navigator.
  </p>
</div>
<br />
<br />
<br />
<br />