<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>It's that time again, time to review your partner!</h1>
    
    <p><a href="https://cp-pairs.herokuapp.com/posts/new">Click this link to start your review</a></p>

    <p>Thanks for doing your part to making better coders and a better Code Platoon!</p>
  </body>
</html>