<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Great job of another week completed <%= @user.name %></h1>
    <p>
      Here are what your pairing partners had to say about you!<br>
    </p>

    <div> WEEK OF REVIEWS DISPLAYED </div>
    <!-- TODO add in link to calendar  -->

    <p>See you next week!</p>
  </body>
</html>