
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Pearing <%= @user.nickname %></h1>
    <p>
      You have successfully signed up,
      Welcome to the worlds finest Code Pairing family.<br>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>