
<%= link_to 'Write a new review', new_post_path %>
<div class="posts index">
  <h2> Received Reviews </h2>
    <% if @check_number == 0 %>
  <% else %>
    NO REVIEWS
  <% end %>
</div>
<div class="posts index">
  <h2> Reviews I have written </h2>
    <%= react_component("PostList", props: @sent_posts_test, prerender: false)  %>
</div>