
<%# link_to 'Write a new review', new_post_path %>
<div class="postsent">
  <div id="new_post">
</div>
  <div class="postheader">
  <h2>Sent Reviews </h2>
  </div>
    <br />
    <%= react_component("PostList", props: {posts: @sent_posts, members: @users}, prerender: false) %>
</div>

<div class="postrcvd">
  <div class="postheader">
    <h2> Received Reviews </h2>
  </div>
    <% if @check_number == 0 %>
      <%= react_component("ReceivedPostList", props: {posts: @received_posts}, prerender: false) %>
  <% else %>
    NO REVIEWS
  <% end %>
</div>

