
<%= link_to 'Write a new review', new_post_path %>
<div class="posts index">
  <h2> Received Reviews </h2>
    <% if @check_number == 0 %>
  <% else %>
    NO REVIEWS
  <% end %>
</div>

<div class="posts index">
  <div id="new_post">

</div>
  <h2> Reviews I have written </h2>
    <h4>Add New Review</h4>
    <%= link_to 'New', 'posts/new', remote: true %>
    <br />
    <%= react_component("PostList", props: {posts: @sent_posts_test, members: @users}, prerender: false) %>
</div>