
<%= link_to 'Write a new review', new_post_path %>
<div class="posts index">
  <h2> Received Reviews </h2>
    <% if @check_number == 0 %>
  <% else %>
    NO REVIEWS
  <% end %>
</div>
<div class="posts index">
  <h2> Reviews I have written </h2>
    <% @sent_posts.each do |post| %>
      <ul>
        <li><%= react_component("Post", props: {
                                                  id: post.id,
                                                  rating: post.rating,
                                                  content: post.content
                                                },
                                        prerender: false) %></li>
      </ul>
    <% end %>
    <%= react_component("PostList", props:{initialPosts: @sent_posts_test}, prerender: false)  %>
</div>